version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: yomu_postgres
    restart: always
    environment:
      POSTGRES_DB: yomu_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: