name: Continuous Deployment (CD)

on:
  workflow_run:
    workflows:
      - Continuous Integration (CI)
    types:
      - completed
    branches:
      - main
      - staging

jobs:
  deploy_staging:
    name: CD - Staging
    runs-on: ubuntu-22.04
    if: >
      ${{
        github.event.workflow_run.conclusion == 'success' &&
        github.event.workflow_run.head_branch == 'staging'
      }}
    environment: staging
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - name: Run dummy deploy script (staging)
        run: bash .github/scripts/dummy-cd.sh staging

  deploy_production:
    name: CD - Production
    runs-on: ubuntu-22.04
    if: >
      ${{
        github.event.workflow_run.conclusion == 'success' &&
        github.event.workflow_run.head_branch == 'main'
      }}
    environment: production
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - name: Run dummy deploy script (production)
        run: bash .github/scripts/dummy-cd.sh production
